[submodule "test"]
	path = test
	url = https://github.com/cmohri/graphics03.git
[submodule "ccai1"]
	path = ccai1
	url = https://github.com/ccai1/mangosteens.git
[submodule "anais-test"]
	path = anais-test
	url = https://github.com/adelfau/test.git
[submodule "aedwards10"]
	path = aedwards10
	url = https://github.com/AgsyBagsy04/firstwebsite.git
[submodule "First-Repo"]
	path = First-Repo
	url = https://github.com/vgao10/First-Repo.git
[submodule "vgao"]
	path = vgao
	url = https://github.com/vgao10/First-Repo.git
